.channelsList {
  /* width: 200px;
  margin: 30px; */
  padding-left: 2rem;
  padding-top: 1.5rem;
  margin-bottom: 1rem;
  max-height: 300px;
  overflow: scroll;
}

.channelsList::-webkit-scrollbar {
  display: none;
}

ol.simple-list {
  list-style-type: none;
  list-style-type: decimal !ie;
  margin: 0;
  margin-left: 3em;
  padding: 0;
  counter-reset: li-counter;
}

ol.simple-list>li {
  position: relative;
  margin-bottom: 20px;
  padding-left: 0.5em;
  min-height: 3em;
  border-left: 2px solid #CCCCCC;
}

ol.simple-list>li:before {
  position: absolute;
  top: 0;
  left: -1em;
  width: 0.8em;
  font-size: 3em;
  line-height: 1;
  font-weight: bold;
  text-align: right;
  color: #464646;
  content: counter(li-counter);
  counter-increment: li-counter;
}

ol.simple-list>li:hover {
  background-color: rgba(248, 248, 255, 0.705);
}


/* .channelsList {
} */

