img {
  width: 24px;
  height: 24px;
}

.wrap-title {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid gray;
  margin-bottom: 1rem;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 255, 0.2);
  background-color: #e3e3e3;
  padding: 0.2rem;
}
